{% extends "base.html" %}
{% block body %}
    <main>
        {% if acct_type == 'student' %}
            <form method="POST" class="test-form">
                {% if questions %}
                {% for question in questions %}
                    <p class="question">{{ loop.index }}. {{ "".join(question) }}</p>
                    <textarea placeholder="Your answer..." name="question-{{ loop.index }}" required autocomplete="off"></textarea>
                {% endfor %}
                <input type="submit" value="Submit Test">
                {% else %}
                    <h1 class="form-header">Unexpected error enncountered</h1>
                {% endif %}
            </form>
        {% else %}
            <p class="error-header">Access denied</p>
        {% endif %}
    </main>
{% endblock %}